
/*------------------------------------*\
	VARIABLES
\*------------------------------------*/
$bg: 				    #FFFFFF;
$linkcolor:			#E95C2E;
$text-color: 		#454549;
$rouge: 			  #EC1C24;
$vert: 				  #36BCAF;

$font: 'Open Sans', Helvetica, Arial, sans-serif;

$goutiere: 40px;
$demi_goutiere: 20px;

$size1: 			1280px;
$size2: 			1140px;
$size3: 			1024px;
$size4: 			768px;
$size5: 			480px;
$size6: 			320px;
